---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A little bit about my work"
  pubDate={new Date("May 05 2020")}
  heroImage="/blog-placeholder-about.jpg"
>
  <h3>Education</h3>
  <p>
    <strong>
      Master in Business Administration (FGV) | Mechatronics Engineering (UnB)
    </strong>
  </p>
  <p>
    I'm a Software Engineer with 10+ years of professional experience, where
    I've been working from home in Brazil for the last 6+ years and absolutely
    loving it. Worked for companies in Stockholm - Sweden, San Francisco Bay
    Area - United States, Switzerland, among others. I also started my career as
    a Firmware Engineer working with microcontrollers and C language (5 years).
    Now I'm into web and mobile.
  </p>

  <h3>Personal Projects</h3>
  <p>
    Check out my latest personal project built with SvelteKit and Firebase:
    https://afh.bio.br. On this blog you will also find some Flutter projects,
    which I've been developing since 2018 when Flutter was still in its beta
    version.
  </p>
</Layout>
